@page
@model Stockholm_Syndrome_Web.Pages.Operations.EditModel
@{
	ViewData["Title"] = "Operations - ";
}
<h4 class="text-center my-4">Edit Operation</h4>
<hr />
<div class="container">
	<form method="post">
		<div class="row mx-md-5 border-fancy justify-content-center">
			<div class="col-5 m-md-1">
				<h5 class="text-center mb-0">When & Where</h5>
			</div>
		</div>
		<div class="row mx-md-5 border-fancy justify-content-center">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Ops.Id" />
			<div class="col-5 m-md-4">
				<div class="form-group">
					<label asp-for="Ops.OpsTime" class="control-label"></label>
					<input asp-for="Ops.OpsTime" class="form-control" />
					<span asp-validation-for="Ops.OpsTime" class="text-danger"></span>
				</div>
				<div class="form-group">
					<input asp-for="Ops.StagingSystemId" hidden class="form-control" />
				</div>
				<div class="form-group">
					<label asp-for="Ops.StagingSystemName" class="control-label"></label>
					<input asp-for="Ops.StagingSystemName" class="form-control" />
					<span asp-validation-for="Ops.StagingSystemName" class="text-danger"></span>
				</div>
				<div class="form-group">
					<input asp-for="Ops.TargetSystemId" hidden class="form-control" />
				</div>
				<div class="form-group">
					<label asp-for="Ops.TargetSystemName" class="control-label"></label>
					<input asp-for="Ops.TargetSystemName" class="form-control" />
					<span asp-validation-for="Ops.TargetSystemName" class="text-danger"></span>
				</div>
			</div>
			<div class="col-5 m-md-4">
				<div class="form-group">
					<label asp-for="Ops.Description" class="control-label"></label>
					<textarea asp-for="Ops.Description" class="form-control" rows="5" style="resize:none"></textarea>
					<span asp-validation-for="Ops.Description" class="text-danger"></span>
				</div>
			</div>
		</div>
		<div class="row mx-md-5 border-fancy justify-content-center">
			<div class="col-5 m-md-1">
				<h5 class="text-center mb-0">Status & Fc details</h5>
			</div>
		</div>
		<div class="row mx-md-5 border-fancy justify-content-center">
			<div class="col-5 m-md-4">
				<div class="form-group">
					<label asp-for="Ops.OpStatus" class="control-label"></label>
					<select asp-for="Ops.OpStatus" asp-items="@Model.OpsStatus" class="form-control"></select>
				</div>
			</div>
			<div class="col-5 m-md-4">
				<input asp-for="Ops.FcId" hidden class="form-control" />

				<div class="form-group">
					<label asp-for="Ops.FcName" class="control-label"></label>
					<select asp-for="Ops.FcName" asp-items="@Model.FCs" class="form-control"></select>
				</div>
			</div>
		</div>
		<div class="row mx-md-5 border-fancy justify-content-center">
			<div class="col-5 m-md-1">
				<h5 class="text-center mb-0">Structure Info</h5>
			</div>
		</div>
		<div class="row mx-md-5 border-fancy justify-content-center">
			<div class="col-5 m-md-4">
				<div class="form-group">
					<label asp-for="Ops.StructureType" class="control-label"></label>
					<select asp-for="Ops.StructureType" asp-items="@Model.StructureType" class="form-control"></select>
				</div>
				<div class="form-group">
					<label asp-for="Ops.StructureName" class="control-label"></label>
					<input asp-for="Ops.StructureName" class="form-control" />
					<span asp-validation-for="Ops.StructureName" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Ops.StructureOwner" class="control-label"></label>
					<input asp-for="Ops.StructureOwner" class="form-control" />
					<span asp-validation-for="Ops.StructureOwner" class="text-danger"></span>
				</div>
			</div>
			<div class="col-5 m-md-4">
				<div class="form-group">
					<label asp-for="Ops.StructureStatus" class="control-label"></label>
					<select asp-for="Ops.StructureStatus" asp-items="@Model.StructureStatus" class="form-control"></select>
				</div>
				<div class="form-group">
					<label asp-for="Ops.StructureLayer" class="control-label"></label>
					<select asp-for="Ops.StructureLayer" asp-items="@Model.StructureLayer" class="form-control"></select>
				</div>
			</div>
		</div>
		<div class="row mx-md-5 border-fancy justify-content-center">
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-success mt-3 mx-3" style="width:200px" />
				<a asp-page="./Index" class="btn btn-primary mt-3 mx-3" style="width:110px">Back</a>
			</div>
		</div>
	</form>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
